<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FEATURE</title>
        <link rel="stylesheet" href="/static/feastyle.css">
    </head>

    <body>
        <div class="container">
            <div class="box">
                <h2>01</h2>
                <h3>feature one</h3>
                <p>first  we take user input uploaded text file  and we send it to the backend flask server.</p>
            </div>

            <div class="box">
                <h2>02</h2>
                <h3>feature two</h3>
                <p>Now we compare the uploaded file with ncret  books  which  is stored in  database .
                 </p>
                
            </div>

            <div class="box">
                <h2>03</h2>
                <h3>feature three</h3>
                <p>Now we display the  plagairism Accuracy  for each NCRET text book in a table in a new web page</p>
            </div>

        </div>
    </body>
</html>