<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body style="background-color:#FDF5E6;">
  <div class="navbar">
    <div class="icon">
        <h2 class="logo">COPYRIGHT</h2>
    </div>

    <div class="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="{{url_for('about')}}">ABOUT</a></li>
            <li><a href="{{url_for('features')}}">SERVICE</a></li>
            
            <li><a href="{{url_for('team')}}">TEAM</a></li>
        </ul>
    </div>


</div>
<div class="container">


<div class="glass1">
  <img src="/static/pr2.jpg" alt="Girl in a jacket" width="800" height="550">
  </div>
  <div class="glass">
    
    <h2><b><h1 style="font-family: Arial, Helvetica, sans-serif; color:	navy">PLAGIARISM DETECTOR</h1></b></h2>
    <h4> <p style="font-family: Helvetica; color:	navy"><b>COPYRIGHT  INFRINGEMENT  FOR  NCRET  TEXTBOOKS</b></p></h4>
    

<br>

      <img id="loaderIcon" style="visibility:hidden; display:none"
src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" alt="..."/>
   <form method="POST" action="/" enctype="multipart/form-data">
	

               <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button type="button" class="btn-warning">
                  <i class="fa fa-upload"></i><b>Upload File</b>
                    <input type="file" name="file">
                     </button>

                     <br><br>


                      
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <button type="button" class="button" onclick="this.classList.toggle('button--loading')">
                        <span class="button__text"><input type="submit" class="button-26" value="Submit"  ></span>
                    </button></p>




                   </form>

</div>

</div>


</body>
</html>

