<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>our team section Using HTML and CSS</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/styleteam.css">
</head>
<body>

<div class="wrapper">
    <h1>Our Team</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/jen.png" alt="our_team">
            <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Punith</h3>
          <span>Back-end developer</span>
          <p>He is responsible for server-side web application logic and integration of the work front-end developers do.he usually write the web services and APIs used by front-end developers and mobile application developers.</p>
        </div>
        <div class="team_member">
           <div class="member_img">
             <img src="/static/22-modified.png" alt="our_team">
             <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Lokesh</h3>
          <span>Content-writer</span>
          <p>He is a person who specializes in providing relevant content for websites. Every website has a specific target audience and requires the most relevant content to attract business. Content should contain keywords aimed towards improving a website's SEO.</p>
      </div>
        <div class="team_member">
           <div class="member_img">
             <img src="/static/420.png" alt="our_team">
             <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Prabhu</h3>
          <span>Front-end developer</span>
          <p>He creates websites and applications using web languages such as HTML, CSS, and JavaScript allow users to access and interact with the site or app and builds the front-end portion of websites and web applications</p>
      </div>
         
    </div>
</div>	

</body>
</html>